/* Utility class
(스타일이 한 두개만 들어있는 class) */
.f-small{
    font-size: 12px;
}
.f-mid{
    font-size: 16px;
}
.f-lg{
    font-size: 20px;
}


.cart-background{
    width: 100%;
    background-color :#c2d3de;
    padding: 30px;
}

.cart-table{
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.cart-table td, .cart-table th{
    padding: 15px;
    border-bottom: 1px solid #c2d3de;
}
.cart-table td:nth-child(2){
    width: 400px;
}

.cell-long{
    width: 700px;
}

/* 뼈대 디자인 class */
.btn{padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    /* 커서변경 */
    cursor: pointer;
}

/* 컬러 디자인 class */
.bg-red{
    background: red;
}
.bg-blue{
    background: blue;
}


/* 넣을 때 순서가 중요!
hover → focus → active 순으로 넣어야 함 */
.btn:hover{
    /* 커서를 올리면 chocolate색으로 변경 */
    background-color: chocolate;
}
.btn:focus{
    /* 커서가 찍혀있을때 스타일 */
    background-color: gray;
}
.btn:active{
    /* 버튼을 누르면..! */
    background-color: brown;
    border: 2px solid black;
}

.input-test{
    font-size: 20px;
}
.input-test:focus{
    border-bottom: 2px solid red;
}

.custom-link{
    /* 링크의 밑줄을 제거 */
    text-decoration: none;
}
.custom-link:link{
    color: violet;
}
.custom-link:visited{
    color: black;
}